{% extends 'base.html' %}

{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}
<div class="col-md-4 offset-md-4 mt-5">
    <h3 class="text-center">Entrar no Toilter</h3>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Username:</label>
            {{ form.username(class="form-control", placeholder="Nome de usuário") }}
            {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul>
                {% for e in form.errors.username %}
                    <li>{{ e }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Password:</label>
            {{ form.password(class="form-control") }}
            {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul>
                {% for e in form.errors.password %}
                    <li>{{ e }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">{{form.remember_me(class="form-check-input")}} Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}